@import
	url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");

html, body {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
}

.container {
background: rgb(38,161,206);
background: linear-gradient(221deg, rgba(38,161,206,1) 38%, rgba(0,0,0,1) 76%);
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

form {
	background: #fff;
	padding: 3rem;
	border-radius: 2rem;
	box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.1);
	position: relative;
	overflow: hidden;
	max-width: 25rem;
	width: 100%;
	top:78px;
}

h1 {
	text-align: center;
	color: #fff;
	margin-bottom: 2rem;
}

label {
	display: block;
	margin-bottom: 1rem;
	color: #757575;
}

input {
	width: 100%;
	padding: 0.8rem;
	border-radius: 1rem;
	border: none;
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
	transition: box-shadow 0.3s ease-in-out;
}

input:focus {
	outline: none;
	box-shadow: 0 0 0.5rem #ff5e62;
}

button {
	background: #ff5e62;
	color: #fff;
	width: 100%;
	border: none;
	padding: 1rem;
	border-radius: 1rem;
	margin-top: 1rem;
	cursor: pointer;
	transition: background 0.3s ease-in-out;
}

button:hover {
	background: #ff9966;
}

.forgot-password {
	position: absolute;
	bottom: -2rem;
	right: 0;
	color: #757575;
	text-decoration: none;
	transition: color 0.3s ease-in-out;
}

.forgot-password:hover {
	color: #ff5e62;
}

.text-container {
	font-weight: bold;
	color: white;
	font-size: 60px;
	position: fixed;
	top: 210px;
	left: 55%;
	transform: translateX(-150%);
}

.bounce-text {
  animation: bounce 2.1s ;
}

@keyframes bounce { 0% {
    transform: translateY(-90px);
  }
  20% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-12px);
  }
  80% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}
