<!DOCTYPE html>
<html xmlns:th="www.themeleaf.org">
<head>

<link rel="stylesheet" href="AboutUs.css">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<header th:insert="Header.html"></header>
<body>
	<main>
		<div class="text">
			<p>Welcome to My E-commerce Website, your one-stop-shop for all
				your online shopping needs. We are a team of dedicated professionals
				who are passionate about bringing you the best shopping experience
				possible.</p>
			<p>Our mission is to provide you with high-quality products at
				affordable prices. We work hard to source the best products from
				around the world and bring them directly to your doorstep.</p>
			<p>At My E-commerce Website, we believe in putting our customers
				first. We strive to provide exceptional customer service and support
				to ensure that you have a smooth and enjoyable shopping experience
				with us.</p>
			<p>Thank you for choosing My E-commerce Website for your online
				shopping needs. We appreciate your business and look forward to
				serving you!</p>
		</div>


		

	</main>
</body>
</html>