<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="MyshopNavbar.css">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<nav>
		<ul>
			<li><a href="/loggedshop" class="actives">Home</a></li>
			<li><a href="/addproductsfromshop">Add-products</a></li>
			<li><a href="/orderreceived">order-received</a></li>
			<li><a href="/myshop">delete-shop</a></li>
			<li><a href="/loggedhome">Back-To-App</a></li>
			<li><a href="/logout">Logout</a></li>


   

		</ul>
	</nav>
</body>
</html>